
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header, footer {
    background: #222;
    color: #f4f4f4;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
}
.main {
    min-height: calc(100vh - 117px);
    display: flex;
}
.container, .form-section {
    margin: 10px;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 20px;
}


.form-section input {
    padding: 10px;
    margin: 5px;
    width: 250px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

.certificate {
    border: 1px solid black;
    min-height: calc(73%);
    /* height: 80%; */
    /* height: calc(100vh - 117px); */
    min-width: 400px;
}

.certificate h1 {
    margin-top: 40px;
}
#cert-name {
    color: #f34627;
    font-family: monospace;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 6px; /* space between text and underline */
}
#cert-course {
    color: #2980b9;
    font-family: monospace;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 6px; /* space between text and underline */
}
.certificate * {
    margin: 20px;
    padding: 5px;
}

.cursive {
    font-family: cursive;
    font-weight: 800;
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 48px;
}
.certificate p {
    font-size: 25px;
}
img {
    width: 75%;
}